h2, span{
    color: darkgoldenrod;
}

.card{
    width:400px;
    border: 2px solid black;
    padding: 20px;
    display: inline-block;
    border-radius: 20px;
    margin: 10px;
}

div img{
    /* display: flex;
    height: 225px; */
    width: 100%;
    border-radius: 20px;
}

#pets{
    display: flex;
    justify-content: space-evenly;
}

/* ----------------------------Media Queries--------------------------- */

@media (min-width:375px) {
    #pets{
    display: flex;
    flex-wrap: wrap;
    }
    
}