<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1>this is home page</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit pariatur illo asperiores harum ut cupiditate ipsam magnam suscipit possimus dignissimos, architecto quia dolore sunt amet deleniti facere? Deleniti, iusto assumenda?</p>
</body>
</html>