body{
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: black;
  color: white;
  overflow: hidden;
}

.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar{
    background-color: #000;
    width: 340px;
    border-radius: 1rem;
    margin-right: 0.5rem;
}

.main-content{
    background-color: #121212;
    flex:1;
    border-radius: 0.5rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}

.music-player{
    height: 72px;
    width:100%;
    position: fixed;
    bottom: 0;
    background-color: black;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.nav{
    background-color: #121212;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}

.nav-option{
    line-height: 2rem;
    font-size: 1rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;   
}

.nav-option:hover{
    opacity: 1;
}

.nav-option i{
    font-size: 1.25rem;
    margin-right: 1rem;
}

.nav-option a{
    font-size: 1rem;
    /* margin-left: 1rem; */
}

.library{
    background-color: #121212;
    border-radius: 0.5rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-option img{
    height: 1.25rem;
    width: 1.25rem;
    margin-right: 0.8rem;
}

.icon{
    font-size: 1.25rem;
    display: flex;
}

.icon i{
    opacity: 0.7;
    margin-right: 1rem;
    font-size: 1rem;
}

.icon i:hover{
    opacity: 1;
}

.box{
    background-color: #232323;
    height: 8rem;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.2rem 1rem;
}

.box-p1{
    font-size: 0.95rem;
    font-weight: 600;
}

.box-p2{
    font-size: 0.7rem;
    opacity: 0.9;
}

.badge{
    height: 2rem;
    width: fit-content;
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
}

.dark-badge{
    background-color: #000;
    color: #fff;
    opacity: 0.9;
}

.b2{
    height: 10rem;
}

/* ========================================================================================= */

.sticky-nav{
    position: sticky;
    top: 0;
    background-color: #121212;  /* change or dont later */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 0 1rem 0;
    z-index: 20;
}

.sticky-nav-icon{
    margin: 1rem;
}
.sticky-nav-option{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.nav-item{
    margin-right: 1rem;
}

@media (max-width:1024px) {
    .hide{
    display: none;
    }
}

.album{
    background-color: #232323;
    width: 190px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
}

.album-container{
    display: flex;
    flex-wrap: wrap;
}

.album-img{
    width: 100%;
    border-radius: 0.5rem;
}

.album-title{
    font-weight: 600;
}

.album-info{
    font-size: 0.85rem;
    opacity: 0.8;
}

.footer{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line{
    width: 100%;
    height: 50%;
    border-top: 1px solid white;
    opacity: 0.4;
}

/* ========================================================================================= */

.music-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}

.reader{
    width: 25%;
}

.player{
    width: 50%;
}

.controls{
    width: 25%;
}

.player-controls{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.3rem;
}

.player-control-icon{
    height: 0.8rem;
    margin-left: 1.5rem;
    opacity: 0.7;
}

.player-control-icon:hover{
    opacity: 1;
}

.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar{
    width: 60%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0 0.2rem;
}

.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}

.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -8px;
}

.reader{
    display: flex;
    position: relative;
    bottom: -0.3em;
    padding: 0.5rem;
}

.reader-pic{
    height: 3.5rem;
}

.reader .para{
    font-size: 0.8rem;
    padding: 0.7rem 0.7rem 0;
    /* font-weight: ; */
}